# Ejercicio 1

In [53]:
import pandas as pd
import numpy as np

In [57]:
df_a1 = pd.DataFrame({'z':  [1, 0, 0],
                      'x1': [-1, -2, 2],
                      'x2': [-3, 5, -1],
                      'x3': [-1, -1, 2],
                      's1': [0, 1, 0],
                      's2': [0, 0, 1],
                      'RHS':[0, -5, 4]},
                      columns=['z','x1','x2','x3','s1', 's2', 'RHS'],
                      index=['z', 's1', 's2'])
df_a1

    z  x1  x2  x3  s1  s2  RHS
z   1  -1  -3  -1   0   0    0
s1  0  -2   5  -1   1   0   -5
s2  0   2  -1   2   0   1    4

In [58]:
# Copiamos para trabajar
wip = df_a1.copy()

# Primera iteración
wip.iloc[1] *= -1/2
wip.iloc[0] += wip.iloc[1] * 1
wip.iloc[2] += wip.iloc[1] * -2

# Cambia variables del pivote
a = list(wip.columns)
a[1] = 's1'
wip.columns = a
a = list(wip.index)
a[1] = 'x1'
wip.index = a

wip

      z   s1   x2   x3   s1   s2  RHS
z   1.0  0.0 -5.5 -0.5 -0.5  0.0  2.5
x1 -0.0  1.0 -2.5  0.5 -0.5 -0.0  2.5
s2  0.0  0.0  4.0  1.0  1.0  1.0 -1.0

In [59]:
# Segunda iteración

wip.iloc[1] += wip.iloc[2] * -1/2
wip.iloc[0] += wip.iloc[2] * 1/2

wip

      z   s1   x2   x3   s1   s2  RHS
z   1.0  0.0 -3.5  0.0  0.0  0.5  2.0
x1 -0.0  1.0 -4.5  0.0 -1.0 -0.5  3.0
s2  0.0  0.0  4.0  1.0  1.0  1.0 -1.0

In [52]:
# Tercera iteración

wip.iloc[2] *= -1/4
wip.iloc[1] += wip.iloc[2] * 1/2
wip.iloc[0] += wip.iloc[2] * 7/2

wip

      z   x1   x2     x3     s1     s2    RHS
z   1.0  0.0 -7.0 -0.875 -0.875 -0.375  2.875
s1  0.0  1.0 -1.0  0.875 -0.125  0.375  2.125
s2 -0.0 -0.0 -1.0 -0.250 -0.250 -0.250  0.250

In [47]:
# Cuarta iteración

wip.iloc[1] += wip.iloc[2] * -1/2
wip.iloc[0] += wip.iloc[2] * 1/2

wip

      z   x1   x2   x3   s1   s2  RHS
z   1.0  0.0 -3.5  0.0  0.0  0.5  2.0
s1  0.0  1.0 -4.5  0.0 -1.0 -0.5  3.0
s2  0.0  0.0  4.0  1.0  1.0  1.0 -1.0

In [48]:
# Quinta iteración

wip.iloc[1] += wip.iloc[2] * 1/2
wip.iloc[0] += wip.iloc[2] * -1/2

wip

      z   x1   x2   x3   s1   s2  RHS
z   1.0  0.0 -5.5 -0.5 -0.5  0.0  2.5
s1  0.0  1.0 -2.5  0.5 -0.5  0.0  2.5
s2  0.0  0.0  4.0  1.0  1.0  1.0 -1.0

# Ejercicio 2

In [ ]:
df_a1 = pd.DataFrame({'z':  [1, 0, 0, 0],
                      'x1': [-1, -1, -1, -1],
                      'x2': [-3, -1, 1, 2],
                      's1': [0, 1, 0, 0],
                      's2': [0, 0, 1, 0],
                      's3': [0, 0, 0, 1],
                      'RHS':[0, -3, -1, 2]},
                      columns=['z','x1','x2','s1', 's2', 's3', 'RHS'],
                      index=['z', 's1', 's2', 's3'])
df_a1

In [ ]:
# Copiamos para trabajar
wip = df_a1.copy()

# Primera iteración
wip.iloc[1] *= -1
wip.iloc[0] += wip.iloc[1] * 1
wip.iloc[2] += wip.iloc[1] * 1
wip.iloc[3] += wip.iloc[1] * 1

# Cambia variables del pivote
a = list(wip.columns)
a[1] = 's1'
wip.columns = a
a = list(wip.index)
a[1] = 'x1'
wip.index = a

wip

Valor mínimo: 3

x1: 3

# Ejercicio 3