In [1]:
import pandas as pd
import numpy as np

## Problema 3.1

In [2]:
df_31 = pd.DataFrame({'z':  [1, 0, 0],
                      'x1': [-1, -5, -1],
                      'x2': [-2, -7, -3],
                      's1': [0, 1, 0],
                      's2': [0, 0, 1],
                      'RHS':[0, 5, -3]},
                      columns=['z','x1','x2','s1','s2','RHS'],
                      index=['z', 's1', 's2'])
df_31

    z  x1  x2  s1  s2  RHS
z   1  -1  -2   0   0    0
s1  0  -5  -7   1   0    5
s2  0  -1  -3   0   1   -3

In [4]:
# Copia de trabajo
wip1 = df_31.copy()

# Iteraci贸n 1
wip1.iloc[2] /= -3
wip1.iloc[2] = np.around(wip1.iloc[2])
wip1.iloc[0] += wip1.iloc[2] * 2
wip1.iloc[1] += wip1.iloc[2] * 7

# Cambia variables del pivote
a = list(wip1.columns)
a[2] = 's2'
wip1.columns = a
a = list(wip1.index)
a[2] = 'x2'
wip1.index = a

# Show
wip1

      z   x1   s2   s1   s2   RHS
z   1.0 -1.0  0.0  0.0  0.0   2.0
s1  0.0 -5.0  0.0  1.0  0.0  12.0
x2 -0.0  0.0  1.0 -0.0 -0.0   1.0

### Soluci贸n Optima
Valor objetivo = 2

x1 = 0

x2 = 1

s1 = 12

s2 = 0

## Problema 3.2

In [5]:
df_32 = pd.DataFrame({'z':  [1, 0, 0],
                      'y1': [-2, 4, 2],
                      'y2': [-1, 2, 1],
                      's1': [0, 1, 0],
                      's2': [0, 0, 1],
                      'RHS':[0, 6, 3]},
                      columns=['z','y1','y2','s1','s2','RHS'],
                      index=['z', 's1', 's2'])
df_32

    z  y1  y2  s1  s2  RHS
z   1  -2  -1   0   0    0
s1  0   4   2   1   0    6
s2  0   2   1   0   1    3

In [7]:
# Copia de trabajo
wip2 = df_32.copy()

# Iteraci贸n 1
wip2.iloc[1] /= 4
wip2.iloc[0] += wip2.iloc[1] * 2
wip2.iloc[2] += wip2.iloc[1] * -2

# Cambia variables del pivote
a = list(wip2.columns)
a[1] = 's2'
wip2.columns = a
a = list(wip2.index)
a[1] = 'y1'
wip2.index = a

# Show
wip2

      z   s2   y2    s1   s2  RHS
z   1.0  0.0  0.0  0.50  0.0  3.0
y1  0.0  1.0  0.5  0.25  0.0  1.5
s2  0.0  0.0  0.0 -0.50  1.0  0.0

### Soluci贸n Optima
Valor objetivo = -3

y1 = 1.5

y2 = 0

s1 = 0

s2 = 0