In [1]:
import pandas as pd
import numpy as np

In [3]:
df_a1 = pd.DataFrame({'z':  [1, 0, 0, 0],
                      'x1': [-1, -1, -1, -1],
                      'x2': [-3, -1, 1, 2],
                      's1': [0, 1, 0, 0],
                      's2': [0, 0, 1, 0],
                      's3': [0, 0, 0, 1],
                      'RHS':[0, -3, -1, 2]},
                      columns=['z','x1','x2','s1', 's2', 's3', 'RHS'],
                      index=['z', 's1', 's2', 's3'])
df_a1

    z  x1  x2  s1  s2  s3  RHS
z   1  -1  -3   0   0   0    0
s1  0  -1  -1   1   0   0   -3
s2  0  -1   1   0   1   0   -1
s3  0  -1   2   0   0   1    2

In [4]:
# Copiamos para trabajar
wip = df_a1.copy()

# Primera iteración
wip.iloc[1] *= -1
wip.iloc[0] += wip.iloc[1] * 1
wip.iloc[2] += wip.iloc[1] * 1
wip.iloc[3] += wip.iloc[1] * 1

# Cambia variables del pivote
a = list(wip.columns)
a[1] = 's1'
wip.columns = a
a = list(wip.index)
a[1] = 'x1'
wip.index = a

wip

    z  s1  x2  s1  s2  s3  RHS
z   1   0  -2  -1   0   0    3
x1  0   1   1  -1   0   0    3
s2  0   0   2  -1   1   0    2
s3  0   0   3  -1   0   1    5

Valor mínimo: 3

x1: 3