# Programas

In [2]:
import pandas as pd

In [24]:
def get_ratios(col1, col2):
    result = []
    for val1, val2 in zip(col1, col2):
        try:
            result.append(val1 / val2)
        except:
            result.append(0)
    return result

def simplex(df):
    wip = df.copy()
    # Encuentra la columna con elemento m√°s negativo de la primer fila
    pivot_col_label = df.iloc[0].idxmin()
    pivot_col_idx = df.index.get_loc(pivot_col_label)
    print(pivot_col_idx)
    # Selecciona el elemento pivote con el menor ratio respecto al RHS
    ratios = get_ratios(wip['RHS'], wip[pivot_col_label])
    print(ratios)
    pass

In [18]:
def dual_simplex(df):
    pass

# Problemas

In [9]:
df_a1 = pd.DataFrame({'z':  [1, 0, 0],
                      'x1': [6, 2, 1],
                      'x2': [8, 1, 3],
                      'x3': [5, 1, 1],
                      'x4': [9, 3, 2],
                      's1': [0, 1, 0],
                      's2': [0, 0, 1],
                      'RHS':[0, 5, 3]},
                      columns=['z','x1','x2','x3','x4','s1','s2','RHS'],
                      index=['z', 's1', 's2'])
df_a1

    z  x1  x2  x3  x4  s1  s2  RHS
z   1   6   8   5   9   0   0    0
s1  0   2   1   1   3   1   0    5
s2  0   1   3   1   2   0   1    3

In [25]:
simplex(df_a1)

1
[nan, 5.0, inf]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in long_scalars
  """
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in long_scalars
  """